<!-- PROFILE.s PAGE -->
<h1>Profile.s page:</h1>


<!-- Display each profile -->
{{#each profile}}
<div>
  <a href="/profile/profileDetail/{{id}}">
    <img class="profile-picture" src="{{profilePicture}}" alt="error">
    <h3>{{name}}</h3>
    
    
    </a>
    <button>
      <a href="/profile/profileUpdate/{{id}}">Update the profile</a>
    </button>
    <button>
      <a href="/profile/profileDelete/{{id}}">Delete the profile</a>
    </button>
</div>
{{/each}}


<!-- Create a new profile -->
<br>
<button>
    <a href="/profile/profileCreate">Create a profile</a>
</button>


<!-- error message -->  
{{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
{{/if}}