<!-- Update an existing profile Form-->
<div id="welcome-page">
  <div class="wrapper scroll-ok">
    <div class="left">
      <svg viewBox="0 0 24 24" fill="none" version="1.1" id="svg1" inkscape:version="1.3 (0e150ed6c4, 2023-07-21)"
        xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0" />
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
        <g id="SVGRepo_iconCarrier">
          <path
            d="m 17.8284,6.82843 c 0.5781,0.57806 0.8671,0.86709 1.0194,1.23463 C 19,8.4306 19,8.83935 19,9.65685 V 17 c 0,1.8856 0,2.8284 -0.5858,3.4142 C 17.8284,21 16.8856,21 15,21 H 9 C 7.11438,21 6.17157,21 5.58579,20.4142 5,19.8284 5,18.8856 5,17 V 7 C 5,5.11438 5,4.17157 5.58579,3.58579 6.17157,3 7.11438,3 9,3 h 3.3431 c 0.8175,0 1.2263,0 1.5938,0.15224 0.3676,0.15224 0.6566,0.44127 1.2347,1.01933 z"
            stroke="#963696" stroke-width="2" stroke-linejoin="round" id="path1" />
          <path id="secondary"
            d="m 14.676317,9.5704468 a 0.60218573,0.60218573 0 0 0 -0.602186,0.6021862 v 0.764776 a 3.3059996,3.3059996 0 1 0 0.469704,4.654896 0.60377942,0.60377942 0 1 0 -0.939409,-0.758754 2.0775408,2.0775408 0 0 1 -1.637945,0.758754 2.10765,2.10765 0 1 1 1.469333,-3.613114 h -1.16824 a 0.60218575,0.60218575 0 0 0 0,1.204371 h 2.408743 a 0.60218573,0.60218573 0 0 0 0.602186,-0.602185 V 10.172633 A 0.60218573,0.60218573 0 0 0 14.676317,9.5704468 Z"
            style="fill:#ead94c;stroke-width:0.602186" />
        </g>
      </svg>

    </div>
    <div class="right">
      <div class="embed-page">
        <div id="vignette">
          <div id="v-container">
            {{# with profile}}
            <div id="form">
              <h2>Update Member</h2>
              <form class="form-btn" action="/profile/profileUpdate/{{id}}" method="POST" enctype="multipart/form-data">

                <label> Name
                  <input type="text" name="name" value="{{name}}" />
                </label>
                <br /><br />

                <label>
                  Birthdate
                  <input type="text" name="dob" value="{{dateOfBirth}}" />
                </label>

                <br /><br />

                <label>
                  Gender
                  <select name="gender" id="gender">
                    <option value="" disabled selected>{{gender}}</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="other">Other</option>
                  </select>
                </label>
                <br /><br />

                <label> Profile Picture
                  <input type="file" name="profilePicture" value={{profilePicture}} />
                </label>
                <br><br>

                <button type="submit"><span>Update</span></button>
                <br />

                {{/with}}
                <!-- Error message -->
                {{#if errorMessage}}
                <p class="error">{{errorMessage}}</p>
                {{/if}}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>