<!-- landing health BMI page -->
<div id="welcome-page">
  <div class="profile-full scroll-ok">
    {{#if isAdult}}
    <input type="hidden" id="bmiData" value="{{bmiData}}" />
    <input type="hidden" id="createdDates" value="{{createdDates}}" />
    <br>
    <h2>{{profile.name}}'s BMI Chart </h2>
    <br>


    <div class="profile-container2">


      <!-- BMI calculator button -->
      <div class="profile-vignette-BMI2">
        <div class="form-BMI">
          <form class="form-btn" action="/health/health/{{profile.id}}" method="GET">
            <button type="submit">
              <span class="fs-3">Check your BMI</span>
            </button>
          </form>
        </div>
      </div>

      <!-- BMI Informations -->
      <div class="profile-vignette-BMI3">

        {{#if currentData}}
        <div class="frame-BMI3">

          <h3 class="fs-3">Your current BMI: <span class="fw-bold">{{currentData.BMI}}</span></h3>

          <p class="fs-5">It corresponds to the category<br><span class="fw-bold">{{currentWeight.currentWeight}}</span>
          </p>


          {{#if currentWeight.isOverWeight}}
          <p class="fs-5">To achieve a healthy BMI, you need to <span class="fw-bold">lose {{optimalWeightToBe}}kgs</span><br>
            Try the suggested <span class="fw-bold">diet recipes</span>
          </p>
          
          {{/if}}

          {{#if currentWeight.isUnderWeight}}
          <p class="fs-5">To achieve a healthy BMI, you need to <span class="fw-bold">gain {{optimalWeightToBe}}kgs</span><br>
            Try the suggested <span class="fw-bold">diet recipes</span>
          </p>
          {{/if}}

          {{#if currentWeight.isNormalWeight}}
          <p class="fs-5"><span class="fw-bold">Congrats!</span> You are in a healthy range of Weight<br>
          Continue your current diet            
          </p>
          {{/if}}
           
        </div>
        {{/if}}
      </div>





      <!-- BMI Diet propositions -->
      <div class="profile-vignette-BMI4">
        <div class="frame-BMI4">
          <div class="check">

            {{#if currentWeight.isOverWeight}}
            <form class="form-btn" action="/health/weighLoss-paleo" method="GET">
              <button id="paleo" type="submit">
                <span class="fs-6">Paleo Weight Loss Diet</span>
              </button>
            </form>

            <form class="form-btn" action="/health/weighLoss-vegetarian" method="GET">
              <button id="vegetarian" type="submit">
                <span class="fs-6">Vegetarian Weight Loss Diet</span>
              </button>
            </form>

            <form class="form-btn" action="/health/weighLoss-vegan" method="GET">
              <button id="vegan" type="submit">
                <span class="fs-6">Vegan Weight Loss Diet</span>
              </button>
            </form>
            {{/if}}

            {{#if currentWeight.isUnderWeight}}
            <form class="form-btn" action="/health/weighGain-paleo" method="GET">
              <button id="paleo" type="submit">
                <span class="fs-6">Paleo Weight Gain Diet</span>
              </button>
            </form>

            <form class="form-btn" action="/health/weighGain-vegetarian" method="GET">
              <button id="vegetarian" type="submit">
                <span class="fs-6">Vegetarian Weight Gain Diet</span>
              </button>
            </form>

            <form class="form-btn" action="/health/weighGain-vegan" method="GET">
              <button id="vegan" type="submit">
                <span class="fs-6">Vegan Weight Gain Diet</span>
              </button>
            </form>
            {{/if}}
          </div>
        </div>
      </div>





      <!-- BMI Chart -->
      <div class="profile-vignette-BMI">
        <div class="one-profile-BMI">
          <canvas id="bmiChart" class=""></canvas>
        </div>
      </div>





      <!-- same page but for kids -->
      <!-- same page but for kids -->
      <!-- same page but for kids -->
      {{else}}
      <input type="hidden" id="ageData" value="{{ageData}}" />
      <input type="hidden" id="percentile" value="{{bmiPercentile}}" />
      <br>
      <h2>{{profile.name}}'s Percentile Chart</h2>
      <br>


      <div class="profile-container2">


        <!-- BMI calculator button -->
        <div class="profile-vignette-BMI2">
          <div class="form-BMI">
            <form class="form-btn" action="/health/health/{{profile.id}}" method="GET">
              <button type="submit">
                <span class="fs-3">Check your BMI</span>
              </button>
            </form>
          </div>
        </div>

        <!-- BMI Informations -->
        <div class="profile-vignette-BMI3">

          {{#if currentData}}
          <div class="frame-BMI3">

            <h3 class="fs-3">Your current BMI: <span class="fw-bold">{{currentData.BMI}}</span></h3>

            <p class="fs-5">It corresponds to the percentile:<span class="fw-bold">{{percentile}}</span> 
            </p>

            <p class="fs-5">You are in <span class="fw-bold">{{category.currentWeightKid}}</span> weight range</p>

            


            {{#if currentWeightKid.isUnderWeight}}
            <p class="fs-5">You are a great parent. Still it is better to consult a Pediatrician<br></p>
            {{/if}}

            {{#if currentWeightKid.isOverWeight}}
            <p class="fs-5">You are a great parent. Still it is better to consult a Pediatrician<br></p>
            {{/if}}

            {{#if currentWeightKid.isObese}}
            <p class="fs-5">You are a great parent. Still it is better to consult a Pediatrician<br></p>
            {{/if}}

            {{#if currentWeightKid.isNormalWeight}}
            <p class="fs-5">Congrats! You are a <span class="fw-bold">great parent</span>. Continue what you are doing<br></p>
            {{/if}}


          </div>
          {{/if}}
        </div>
      

        <!-- BMI Chart -->
        <div class="profile-vignette-BMI">
          <div class="one-profile-BMI">
            <canvas id="bmiChartKid" class=""></canvas>
          </div>
        </div>



      </div>
  {{/if}}










    </div>
  </div>