<div id="welcome-page">
  <div class="profile-full scroll-ok">
    <br>
    <h2>Profile Page</h2>
    <div class="profile-container">
        {{#each appt}}
<div class="agenda-info">
<h3>Appointment Date:{{formattedAppointmentDate}}</h3>
<h1>Appointment Name:{{appointmentName}}</h1>
</div>
<br>

<div style="display:none" class="details">

<h3>Appointment Type:{{appointmentType}}</h2>
<h3>Appointment Time{{appointmentTime}}</h3>
<h3>Appointment With:{{appointmentwith}}</h3>
<h3>Total Duration:{{duration}}</h3>
<br>
<br>

</div>
{{/each}}

<div class="profile-vignette">
        <div id="one-profile">
          <div id="frame-profile" class="create-profile">
        
            <a href="/agenda/agendaCreate">
              <h3>Add <br />Appointment</h3>
            </a>
          </div>
        </div>
      </div>
    </div>

      </div>
       </div>
        </div>




