<div id="welcome-page">
  <div class="wrapper scroll-ok">
    <div class="left">
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M3 10.312C3 5.93757 3.93757 5 8.312 5H15.688C20.0624 5 21 5.93757 21 10.312V15.688C21 20.0624 20.0624 21 15.688 21H8.312C3.93757 21 3 20.0624 3 15.688V10.312Z"
            stroke="#963696"
            stroke-width="2"
          ></path>
          <path
            d="M12 11L12 16"
            stroke="#ead94c"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
          </path>
          <path
            d="M14.5 13.5L9.5 13.5"
            stroke="#ead94c"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M6 5L6 3"
            stroke="#963696"
            stroke-width="2"
            stroke-linecap="round"
          ></path>
          <path
            d="M18 5L18 3"
            stroke="#963696"
            stroke-width="2"
            stroke-linecap="round"
          ></path>
        </g>
      </svg>
    </div>

    <div class="right">
      <div class="embed-page">
        <div id="vignette">
          <div id="v-container">
            <h2>Edit an Appointment</h2>
            {{#with appointment}}
              <form
                class="form-btn"
                action="/agenda/agendaUpdate/{{id}}"
                method="POST"
              >
                <input type="hidden" name="profileName" value="{{profileName}}" />
                <label>Appointment Name:
                  <input
                    type="text"
                    id="appointmentName"
                    name="appointmentName"
                    value={{appointmentName}}
                    required
                  />
                </label>
                <br />

                <label>
                  Appointment Type
                  <select name="appointmentType" id="type">
                    <option value="" disabled selected>{{appointmentType}}</option>
                    <option value="personal">Personal</option>
                  <option value="work">Work</option>
                  <option value="kids">Kids</option>
                  <option value="health">Health</option>
                  <option value="other">Other</option>
                  </select>
                </label>
                <br />

                <label>Appointment Date:
                  <input
                    type="text"
                    id="appointmentDate"
                    name="appointmentDate"
                    value={{formattedAppointmentDateUpdate}}
                    required
                  />
                </label>
                <br />

                <label>Appointment Time:
                  <input
                    type="time"
                    id="appointmentTime"
                    name="appointmentTime"
                    value={{appointmentTime}}
                    required
                  />
                </label>
                <br />

                <label>With:
                  <input
                    type="text"
                    id="with"
                    name="appointmentwith"
                    value={{appointmentwith}}
                    required
                  />
                </label>
                <br />

                <label>Duration (minutes):
                  <input
                    type="number"
                    id="duration"
                    name="duration"
                    value={{duration}}
                    required
                  />
                </label>
                <br />

                <button type="submit"><span>Edit Appointment</span></button>
                <br />
              </form>
            {{/with}}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
  const formattedAppointmentDate = "{{appointment.formattedAppointmentDate}}"; // Replace with the actual date value
  const dateParts = formattedAppointmentDate.split("-");
  if (dateParts.length === 3) {
    const yyyy = dateParts[0];
    const mm = dateParts[1];
    const dd = dateParts[2];
    const formattedDate = `${yyyy}-${mm}-${dd}`;
    
    const appointmentDateInput = document.getElementById("appointmentDate");
    appointmentDateInput.value = formattedDate;
  }
});
</script>