<!-- MY ACCOUNT PAGE -->
<div class="wrapper">
  <div class="right">
    <div class="embed-page">
      <div id="vignette">
        <div id="v-container">
          <form>
            {{#if userInSession}}
            {{#each user}}
            <h2>Welcome <span class="capitalize">{{username}},</span></h2>
            <p>To your account page my friend!</p>
            
            <p>Username : <span class="fw-bold">{{username}}</span></p>
            <p>Email : <span class="fw-bold">{{email}}</span></p>
            <p>
              Created :<br /><span class="fw-bold">{{formattedcreatedAt}}</span></p>
            <p>
              Updated :<br /><span class="fw-bold">{{formattedupdatedAt}}</span></p>
            
          </form>
          <form action="/auth/update/{{id}}" method="GET"><button class="edit-btn" href="/auth/update/{{id}}">Edit my
              account</button>
          </form>
          {{/each}}
          {{/if}}

        </div>
      </div>
    </div>
  </div>
</div>